body {
    background-color: #ececec;
}

.btn-close {
    background-size: 0.7em;
}


.container-title {
    width: 500px;
    box-shadow: 11px 11px 30px #c9c9c9, -11px -11px 30px #ffffff;
    padding: 40px 40px !important;
}

.submit-btn {
    border: none;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #ececec;
    padding: 10px 10px;
    font-size: 18px;
    opacity: .9;
    border-radius: 15px;
    width: 100%;
}

.submit-btn:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    opacity: 1;

}


.titlename {
    font-size: 25px;
    font-weight: 100;
}

.container-title {
    border-radius: 15px;
}

.titlename::before,
.titlename::after {
    content: '';
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 7rem;
    height: 0.5px;
    position: relative;
    bottom: 7px;
    margin: 0 10px;
}

.title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title img {
    height: 70px;
    width: 70px;
}



.invalid-feedback {
    font-size: 16px;
}


input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 8px 20px;
    border-radius: 15px;
    background: #ececec;

    box-shadow: inset 5px 5px 8px #d2d2d2, inset -5px -5px 8px #ffffff;
}

.icon {

    box-shadow: 7px 7px 14px #9c9c9c, -7px -7px 14px #ffffff;
    border-radius: 50%;

}
